//================ Container ================

.container {
  max-width: $container-width; // 1140px из _variables.scss
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;  // 15px
  padding-right: $container-padding; // 15px
}