//================ Header ================

.header {
  padding: 20px 0;
  background-color: $text-light;
  border-bottom: 1px solid $border-color;

  &__inner {
    // Используем flexbox для выравнивания лого и навигации
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}