//================ Buttons ================

.btn {
    display: inline-flex;
    padding: 0 20px;
    border-radius: 8px;
    border: 1px solid $text-color;
    background-color: $text-color;
    color: $text-light;
    height: 42px;
    min-height: 42px;

    font-family: $font-family-main;
    font-size: 14px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -.025em;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: $transition-short;

    &:hover {
        background-color: lighten($text-color, 10%);
        color: $text-light;
    }

    // Модификатор для основной кнопки
    &--primary {
        background-color: $primary-color;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }

    // Модификатор для "пустой" кнопки
    &--outline {
        background-color: transparent;
        border-color: $text-color;
        color: $text-color;

        &:hover {
            background-color: lighten($text-color, 10%);
            color: $text-light;
        }
    }
}