//================ Base Styles ================

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $background-primary;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    margin-top: clamp(20px, 3vw, 50px);
    margin-bottom: clamp(50px, 20vw, 200px);
}