//================ Typography ================

//===== Custom Fonts Connection =====

@font-face {
    font-family: 'Inter'; // Название шрифта остается тем же
    src: url('../fonts/inter.woff2') format('woff2-variations'),
        url('../fonts/inter.ttf') format('truetype-variations');

    font-weight: 100 900;

    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter'; // Название шрифта остается тем же
    src: url('../fonts/inter-italic.woff2') format('woff2-variations'),
        url('../fonts/inter-italic.ttf') format('truetype-variations');

    font-weight: 100 900;

    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope'; // Название шрифта остается тем же
    src: url('../fonts/manrope.woff2') format('woff2-variations'),
        url('../fonts/manrope.ttf') format('truetype-variations');

    font-weight: 100 900;

    font-style: normal;
    font-display: swap;
}


//===== Basic Text Styles =====

body {
    font-family: $font-family-main; // Применяем наш кастомный шрифт
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    -webkit-font-smoothing: antialiased; // Делаем текст более гладким в Chrome/Safari
    -moz-osx-font-smoothing: grayscale; // и в Firefox
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-accent; // Можно задать отдельный шрифт для заголовков
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 700; // Используем жирное начертание
}

h1 {
    font-size: 2.5rem; // ~40px
    color: $primary-color; // Используем переменную
    text-align: center;
    margin-top: 100px;
}

h2 {
    font-size: 2rem; // ~32px
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: $accent-color;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: darken($accent-color, 10%);
        text-decoration: underline;
    }
}